[2019-12-31 22:52] weierophinney opened #1 "Troublesome attribute value gets cleared silently."
This code in `AbstractHelper.php` has the effect of silently failing:

            try {
                $escapedAttribute = $escapeAttr($value);
                $strings[] = sprintf('%s="%s"', $escape($key), $escapedAttribute);
            } catch (EscaperException $x) {
                // If an escaper exception happens, escape only the key, and use a blank value.
                $strings[] = sp

[2019-12-31 22:52] weierophinney opened #2 "add minlength as valid attribute for textarea"
According to [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-minlength) web docs and [WHATWG HTML Living Standard](https://html.spec.whatwg.org/multipage/input.html#the-maxlength-and-minlength-attributes), the `minlength` attribute also apply to `textarea` form elements.

other form elements that applied `minlength` already included by https://github.com/zendframework/ze

[2019-12-31 22:52] weierophinney commented on #2
We should add this change to Changelog file.

---

Originally posted by @dennybrandes at https://github.com/zendframework/zend-form/pull/231#issuecomment-561717170

[2019-12-31 22:52] weierophinney opened #3 "Element::init is called before Element::setOptions when using Zend\Form\Factory but not when using FormElementManager"
How can you initialize if you don't have the options?

This is closely related to https://github.com/zendframework/zend-form/issues/138

### Code to reproduce the issue

[code]

### Expected results

setOptions
init

setOptions
init

### Actual results

init
setOptions

setOptions
init

### Workaround

There are several different workarounds:
- Don't use Zend\Form\Factory. This means don't use `$t

[2019-12-31 22:52] weierophinney opened #4 "Passing creation options to form factory with add()"
Hello,

since #45 introduced some BC breaks and was reverted, maybe we could instead pass the creation options for factories as second argument in `Zend\Form\Factory::create()` and third argument in `Zend\Form\Fieldset::add()`.

What do you think?

---

Originally posted by @fabiang at https://github.com/zendframework/zend-form/issues/213

[2019-12-31 22:52] weierophinney opened #5 "Default InputerFilter in Form creates Input, instead of ArrayInput for multi select elements"
- [x] I was not able to find an [open](https://github.com/zendframework/zend-form/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-form/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for Slack here](https://zendframework-slack.herokuapp.com/)) or our [forums](

[2019-12-31 22:52] weierophinney commented on #5
Still no feedback? At the moment I do not have time to find the origin of the bug and provide a patch. But it is actually a critical bug and should be fixed. I am wondering, why no one reported it until now.

---

Originally posted by @eweso at https://github.com/zendframework/zend-form/issues/204#issuecomment-394383977

[2019-12-31 22:52] weierophinney commented on #5
Please review the [code of conduct](https://github.com/zendframework/zend-form/tree/master/docs/CODE_OF_CONDUCT.md); the majority of developers on this project are volunteers, and there are close to 200 repositories we maintain. We simply cannot jump on every issue or pull request as it comes in. Additionally, pull requests, even those that simply provide a failing test, get priority over issues g

[2019-12-31 22:52] weierophinney commented on #5
I see. Thank you for your response! I will provide the relevant code within the next two weeks. I am a little busy right now.

---

Originally posted by @eweso at https://github.com/zendframework/zend-form/issues/204#issuecomment-395777033

[2019-12-31 22:52] weierophinney commented on #5
[code]

Here we go. I hope, this helps. Version of Zend-Form is "2.5.3".

---

Originally posted by @eweso at https://github.com/zendframework/zend-form/issues/204#issuecomment-401104430

[2019-12-31 22:52] weierophinney commented on #5
@eweso
Please check this unit test and then update your value options:

[code]

The `Zend\InputFilter\ArrayInput` is not needed, the validator `Explode` is used.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/204#issuecomment-401123972

[2019-12-31 22:52] weierophinney commented on #5
If you do not add a filter or validator, you don't need an ArrayInput, this is true. But if you create a dynamic multi-select and you want to validate and filter all of it's entries, you need to have an ArrayInput, to iterate through all items of the select. If not, all other validators, like EmailValidator will return false, because EmailValidator expects a string, not an array.

---

Originally

[2019-12-31 22:52] weierophinney commented on #5
@eweso

Filters and validators are already there: https://github.com/zendframework/zend-form/blob/4419eef6dbe9d276e7e27c6a25f022be74534959/src/Element/Select.php#L288

If you set the the `value_options` _before_ you validate your form, then everything works. No extra filters or validators needed.

---

I'm sorry, but you're only describing _your_ conclusion and not the actual problem.
Please provi

[2019-12-31 22:52] weierophinney commented on #5
@froschdesign

This is not what I was talking about. I want another validator! I don't want to test, if the value is in the given set of value_options, I want to validate each value, because the client is allowed to manipulate the select values dynamically and the values which are set, are email addresses and those addresses need to be validated, before I work with them.

Here we go. If you add an

[2019-12-31 22:52] weierophinney commented on #5
@eweso

And why is this info and code example missing in your first post?

Your usage is wrong. You must set the `EmailAddress` validator to the `Explode` validator - not to the validator chain!

See: https://docs.zendframework.com/zend-validator/validators/explode/#supported-options

---
The last line of your code example should be included `assertTrue`.

---

Originally posted by @froschdesign a

[2019-12-31 22:52] weierophinney commented on #5
@froschdesign allah knows why I’ve been following this one, but I have. None of the solution you have finally given is obvious from the documentation.

GitHub is not the place for support. But you have, finally, given it. Why didn’t you suggest a PR on the docs?

---

Originally posted by @kynx at https://github.com/zendframework/zend-form/issues/204#issuecomment-403652549

[2019-12-31 22:52] weierophinney commented on #5
@kynx
Wait wait. This is no support, it had to be clarified if this issue report a bug or something else. Therefore, no label was set until now.

But you are right, the conclusion of this issue report is to extend the documentation for the `Select` element, because the hint to the `Explode` validator is missing.
And we should add some more code examples.

https://docs.zendframework.com/zend-form/e

[2019-12-31 22:52] weierophinney commented on #5
@kynx
Btw. could you take that over?

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/204#issuecomment-403694327

[2019-12-31 22:52] weierophinney commented on #5
@froschdesign

But why don't you use just the ArrayInput on multi select? I mean, what is the usecase for the ArrayInput, if we do not use it on array values? Why does the zf2 use the Explode-Validator as a ValidatorChain replacement, to validate array values? I do not get it, actually.

I mean, first of all thank you for your hint to use the ExplodeValidator instead, but do you really think, that

[2019-12-31 22:52] weierophinney commented on #5
@eweso
Long talk short sense: provide a pull request with unit tests for your improvement. But please keep in mind, if your changes ends in a BC break or in a different behaviour, then we have to wait for the next major version.
The goal for this issue report is to extend the documentation. The pull request for the usage of `ArrayInput` will be treated separately. (ping me for review)

Thank you i

[2019-12-31 22:52] weierophinney commented on #5
@froschdesign

I don't think, that the behaviour will change. Therefore I will create a patch and pull request. But don't expect it in July. Beginning of August sounds realistic.

---

Originally posted by @eweso at https://github.com/zendframework/zend-form/issues/204#issuecomment-406077466

[2019-12-31 22:52] weierophinney commented on #5
Update: I will start in September at the earliest. At the moment I have to much to do at work. I am sorry for that!

---

Originally posted by @eweso at https://github.com/zendframework/zend-form/issues/204#issuecomment-413451552

[2019-12-31 22:52] weierophinney commented on #5
@eweso
No problem. Thanks for the feedback!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/204#issuecomment-413451925

[2019-12-31 22:52] weierophinney commented on #5
ArrayInput does not support required so you'll run into that @eweso

I agree the current solution is not optimal but it's a decent stop-gap solution. But better focus on improving inputfilters then we can fix this later.

If you look at the suggested improvements in https://github.com/zendframework/zend-inputfilter/issues/13 Input and InputFilter both implement the same interface.

As a consequenc

[2019-12-31 22:52] weierophinney commented on #5
@Erikvv

I already pulled a bugfix for the required problem on ArrayInput:
https://github.com/zendframework/zend-inputfilter/pull/167

There is no BC break on that.

---

Originally posted by @eweso at https://github.com/zendframework/zend-form/issues/204#issuecomment-414686778

[2019-12-31 22:52] weierophinney opened #6 "Form/Fieldset messy and not interchangeable"
- [x] This is not a question. (Questions should be asked on [slack](https://zendframework.slack.com/) ([Signup for Slack here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://discourse.zendframework.com/).)
- [x] I was not able to find an [open](https://github.com/zendframework/zend-form/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-form/issues?q=is%3Ac

[2019-12-31 22:52] weierophinney commented on #6
@scroach

Please look at the top of the page, this documentation is outdated!
The current documentation can be found here: https://docs.zendframework.com/zend-form/collections/

Question to you: Why are you doing this?

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/192#issuecomment-360064220

[2019-12-31 22:52] weierophinney commented on #6
I have already looked at the new docs too but there isn't so much that has changed.

Cause we extended the Form class for faster development and code reduction (i.e. calling a single line for adding a commmon element instead of passing a huge array or creating objects).

And I don't understand why Form vs Fieldset hydration/binding differ so much from each other. One of the main bind errors I just

[2019-12-31 22:52] weierophinney commented on #6
@scroach

Please don't mix the problems here! (Your first statement has nothing to do with the second.)

Using forms inside other forms is _not a documented_ way and also _not recommended_.

---

Setting a new factory to create the elements was not an option?

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/192#issuecomment-360076507

[2019-12-31 22:52] weierophinney commented on #6
The first is just the explanation of **why** we do it this way, the 2nd causes the problems with nesting (which we never needed until now)

I found that out the hard way, but in my opinion this should be handled differently cause debugging why the values have not been bound took me a few hours.

For me there are currently 2 options:
a) Don't allow nesting Forms in Forms by either changing the clas

[2019-12-31 22:52] weierophinney commented on #6
* Option "a" 👍   (That was also my first idea.)
* Option "b" is confusing and hard to explain. And for the current implementation of zend-form I see no improvement why we should allow nested forms.

Replace the factory with your own and you can use this: _(pseudo code)_
`$form->add(['input[type=date][name=foo][value=2018-01-22]'])` (value must be an array)

---

Originally posted by @froschdesign

[2019-12-31 22:52] weierophinney commented on #6
Alright, thanks for your input so far.

If you say nesting forms isn't supported and never will be I'm gonna have to to fix this for our project or switch to using fieldsets instead.

---

Originally posted by @scroach at https://github.com/zendframework/zend-form/issues/192#issuecomment-360102917

[2019-12-31 22:52] weierophinney commented on #6
HTML doesn't allow nested forms, why should zend-form do something different?

https://www.w3.org/TR/html52/sec-forms.html#the-form-element

And zend-form already includes many options to build a form and allowing nested forms means further complications; for code and documentation.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/192#issuecomment-36010

[2019-12-31 22:52] weierophinney commented on #6
What we can do here: throw an exception if a form is add to a form.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/192#issuecomment-360107879

[2019-12-31 22:52] weierophinney commented on #6
If you consider the HTML side - yeah you're right.
But I just considered the Zend implementation as an abstract container holding all the elements, and allowing nesting and hierarchy (like the `FieldsetInterface` suggests and `Form` implements those methods).

---

Originally posted by @scroach at https://github.com/zendframework/zend-form/issues/192#issuecomment-360108540

[2019-12-31 22:52] weierophinney commented on #6
I never said that I like this implementation. 😉

For me the main reason is the explanation for the end user. This component is quite heavy and has many many options. Therefore nested forms are the wrong direction. Also the comparison to HTML forms is for users quite simple.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/192#issuecomment-360112507

[2019-12-31 22:52] weierophinney opened #7 "DateTime min/max validators are not working when using costum format"
given this input definition

[code]
when you now enter '2.2.2199 12:43' it is accepted without causing the validator to fail

from what i have seen is that to the GreaterThan and LessThan validator the raw string is passed and compared with the raw string from the input definition. i suggest to fill the validator with real DateTime objects for 'value' and also 'min' and 'max'

---

Originally post

[2019-12-31 22:52] weierophinney commented on #7
the documentation clearly states that greaterThan etc validators only support numbers
https://docs.zendframework.com/zend-validator/validators/greater-than/#only-supports-numbers
building a custom isBefore validator should be quite easy

---

Originally posted by @ghost at https://github.com/zendframework/zend-form/issues/190#issuecomment-356383205

[2019-12-31 22:52] weierophinney commented on #7
that is completly right but if these validators are added automatically if you specifiy min or max in the supported options. i implemented a new Element that replaces that validators but this is only workaround from my pointof view because if these validators are added automatically the should be added in the right way, i thunk.

[code]

and

[code]

---

Originally posted by @BigMichi1 at https:/

[2019-12-31 22:52] weierophinney commented on #7
TL;DR
your are completely right. Since there are added automagically, they should probably handle date objects. a "nice to have"...

---

Originally posted by @ghost at https://github.com/zendframework/zend-form/issues/190#issuecomment-356387119

[2019-12-31 22:52] weierophinney opened #8 "Impossible to disable escaping of select option labels"
At this point it seems to be impossible to disable HTML escaping of select option labels. Here is an [entry point into the code](https://github.com/zendframework/zend-form/blob/1e34504d29f36f870e72a4a5de0b6e5c85db310f/src/View/Helper/FormSelect.php#L227) for the current HEAD in the master branch. There's no difference to the develop branch at this point.

Why is the possibility to disable HTML esc

[2019-12-31 22:52] weierophinney opened #9 "Input filters on form elements are not reflected when rendered"
For example setting a form element `required` in the input filter does not render the element with `required` attribute. The same happens for any validations which could be directly handled by html5.

I know I can set the attributes on the form element directly, but with this I have to maintain the same information in two separate places.

---

Originally posted by @tylkomat at https://github.com/

[2019-12-31 22:53] weierophinney commented on #9
@tylkomat
Right, this is not implement.

If you would like to tackle this, we would appreciate the help.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/182#issuecomment-372217414

[2019-12-31 22:53] weierophinney commented on #9
@tylkomat @froschdesign
I ran into the same problem myself so I monkey patched few Form classes that I am now using using in Form builder so they build input attributes within the other Form Input features.
I'd like to help with this PR if that's okay with you.

---

Originally posted by @unckleg at https://github.com/zendframework/zend-form/issues/182#issuecomment-372245351

[2019-12-31 22:53] weierophinney commented on #9
@unckleg
Everyone is welcome!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/182#issuecomment-372246361

[2019-12-31 22:53] weierophinney commented on #9
Do you think it is correct to always automatically add the `required` attribute if the field is required?
Also, side note - sometimes the field is required, but would need a custom message. This is implemented with the NotEmpty validator. Do we need to implement it for the validator, too?

---

Originally posted by @thexpand at https://github.com/zendframework/zend-form/issues/182#issuecomment-412

[2019-12-31 22:53] weierophinney commented on #9
I am not a big fan of HTML 5 validation mainly because this is not consistant between browsers. Also, Message cannot be customized without javascript (see https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation#Customized_error_messages).

Should ZF automatically set the required HTML attribute, it will take a mean to... get rid of it !

---

Originally posted by @jcaillot at htt

[2019-12-31 22:53] weierophinney commented on #9
Yep

While I agree that there might be some level of customisation, `required` being implemented via `NotEmpty` is a detail, and replacing the `NotEmpty` validator is different from just using `required`.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-form/issues/182#issuecomment-412323616

[2019-12-31 22:53] weierophinney commented on #9
@Ocramius
Offtopic: Maybe we should think of a way of customizing the required message, because the current way of doing it via the `NotEmpty` validator is just a workaround. What do you think?

---

Originally posted by @thexpand at https://github.com/zendframework/zend-form/issues/182#issuecomment-412330435

[2019-12-31 22:53] weierophinney commented on #9
Not really needed for ghe HTML required attribute: browsers are generally
quite clear on it

On Sun, 12 Aug 2018, 12:33 Cvetomir, <notifications@github.com> wrote:

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-form/issues/182#issuecomment-412330536

[2019-12-31 22:53] weierophinney commented on #9
I meant customizing the message after the validation process in the back-end (when `$form->isValid()` is called), hence I added the 'offtopic'.
Otherwise, I'm okay with adding the HTML5 attribute. I will investigate and try to make a PR about it.

---

Originally posted by @thexpand at https://github.com/zendframework/zend-form/issues/182#issuecomment-412330988

[2019-12-31 22:53] weierophinney commented on #9
That can be customised by replacing the `NotEmpty` validator

On Sun, 12 Aug 2018, 12:45 Cvetomir, <notifications@github.com> wrote:

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-form/issues/182#issuecomment-412334559

[2019-12-31 22:53] weierophinney opened #10 "OpenTag Helper - allow "itemprop", "itemscope" and "itemtype" for microdata as attributes"
I tried to add some microdata to my form:

[code]

This does not work, as the specified attributes are not added if I render the form's open tag:

`$this->form()->openTag($form);`

Any workaround to get this specific attributes working?

---

Originally posted by @koseduhemak at https://github.com/zendframework/zend-form/issues/179

[2019-12-31 22:53] weierophinney commented on #10
just my 50 cents on this
you may want to override
\Zend\Form\View\Helper\AbstractHelper::prepareAttributes

---

Originally posted by @jcaillot at https://github.com/zendframework/zend-form/issues/179#issuecomment-332685558

[2019-12-31 22:53] weierophinney commented on #10
@koseduhemak

The fastest way:

[code]

@jcaillot

\Zend\Form\View\Helper\AbstractHelper::prepareAttributes

Why? I think only the elements which wraps other elements should have these universal attributes. (e.g. `form` and `label`)

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/179#issuecomment-332736567

[2019-12-31 22:53] weierophinney commented on #10
@froschdesign
Thank you, used your workaround.

Another problem occurs at the input field:
`<input itemprop="query-input" type="text" name="search_term_string" required="true" />`
I know I can wrap that element in a `div` too. But I think it must be added to the input field itself (because it is actually the query-input for my search engine). The complete desired markup I try to reproduce is from

[2019-12-31 22:53] weierophinney commented on #10
@koseduhemak
Good catch! Then we must extend the `$validGlobalAttributes`.

https://github.com/zendframework/zend-form/blob/1e34504d29f36f870e72a4a5de0b6e5c85db310f/src/View/Helper/AbstractHelper.php#L90

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/179#issuecomment-332768249

[2019-12-31 22:53] weierophinney commented on #10
see #50

---

Originally posted by @jcaillot at https://github.com/zendframework/zend-form/issues/179#issuecomment-405583388

[2019-12-31 22:53] weierophinney opened #11 "MultiCheckbox custom message for validation not working"
I have an issue happening only for a MultiCheckbox Element, with ZF 2.4.9.

In my form, I create two elements : a text field and a MultiCheckbox field, with this code :

[code]
Then, I had the following filter validators :

[code]

In the end, if I submit my form with no value in any field, two error messages are displayed : **Please set a name**, which is the good one for  _name_, but for _equipm

[2019-12-31 22:53] weierophinney opened #12 "Custom element factory not called"
Hello,

I've followed this guide https://zendframework.github.io/zend-form/advanced/#handling-dependencies but i cant get it work.

### module.config.php
[code]

### FileElementFactory
[code]

### FileElement

[code]

### Form
[code]

### Controller
[code]

Actual output
[code]

Expected output
[code]

composer show
[code]

Thanks in advance !

---

Originally posted by @fezfez at https://github.c

[2019-12-31 22:53] weierophinney commented on #12
I've found the bug in my code

to get my form instance in my controller factory was doing

[code]
instead of

[code]

and i add my form factory to
[code]

Maybe documentation need to be fix, this part is only on "Creating custom elements", but i follow only "Handling dependencies", i was thinking that's it was complete sample...

---

Originally posted by @fezfez at https://github.com/zendframewor

[2019-12-31 22:53] weierophinney commented on #12
I want to access the Factory to edit the render method of custom Element.
And how to solve the problem, if you use to call the form `AnnotationBuilder`?

### ExampleEntity
[code]

### IndexController
[code]
### module.config.php
[code]
### Debug $form->getFormFactory()
[code]

---

Originally posted by @korolev-kg at https://github.com/zendframework/zend-form/issues/174#issuecomment-369282491

[2019-12-31 22:53] weierophinney commented on #12
@korolev-kg
Your problem has nothing to do with this issue report.
Please use the [chat](https://zendframework-slack.herokuapp.com) or the [forum](https://discourse.zendframework.com/) for questions or create a new issue if you found a bug. Thanks!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/174#issuecomment-369288373

[2019-12-31 22:53] weierophinney opened #13 "function prepareBindData creates data in return array when nested fieldset empty"
The `prepareBindData(...) {...}` function creates data in the resulting `$data` array when a fieldset is prepared, which as a child fieldset.

I used Doctrine, so maybe it was the combination, but it had me stumped for quite a while.

Function in `Form.php` is as follows:

    protected function prepareBindData(array $values, array $match)
    {
        $data = [];
        foreach ($values as $nam

[2019-12-31 22:53] weierophinney opened #14 "FormRow helper doesn't invoke the FormLabel helper anymore"
The FormRow helper used to call the __invoke() function of the FormLabel helper in earlier versions of zend-form (e.g. 2.7.0), but not anymore. I noticed this because we override the FormLabel helper with a new __invoke function, which is now ignored.

I think this line of code [here](https://github.com/zendframework/zend-form/blob/master/src/View/Helper/FormRow.php#L206) should be changed back to

[2019-12-31 22:53] weierophinney commented on #14
Bump

---

Originally posted by @aimfeld at https://github.com/zendframework/zend-form/issues/165#issuecomment-436564134

[2019-12-31 22:53] weierophinney opened #15 "Inconsistent input filter while using "preferFormInputFilter" form option"
InputFilter merging is inconsistent after #78 (was buggy before). I'll explain it basing on example below:
[code]

1. How it worked before #78
Case 1
`prefer_form_input_filter => true`
`sizeof($fieldsetElementInputFilter->getValidatorChain()->getValidators()) === 0`
`sizeof($collectionElementInputFilter->getValidatorChain()->getValidators()) === 0`
Case 2
`prefer_form_input_filter => false`
`sizeo

[2019-12-31 22:53] weierophinney opened #16 "Conditional Elements + Conditional InputFilter Feature request or documentation request if functionality already exists"
Given a form that is defined as an array data structure and constructed using the factory and outputting the rendered content using the Form View Helper ... how would one go about adding in conditional elements and their respective Filters and Validators?

Sample:
Regular fieldsets
--> Elements / fieldsets
--> Radio button
------> Option A
------------> Show the conditional fieldset / element(s) f

[2019-12-31 22:53] weierophinney commented on #16
This is a more concise description of #153.

---

Originally posted by @jackdpeterson at https://github.com/zendframework/zend-form/issues/155#issuecomment-294192940

[2019-12-31 22:53] weierophinney commented on #16
You can extend the method `Form::isValid()` in your form and check the `data` property and the values. Then manipulate the `InputFilter` for your needs.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/155#issuecomment-298102241

[2019-12-31 22:53] weierophinney opened #17 "Documentation clarifications (quick-start)"
Docs for ZF are so good and so essential for the often newbie-mystifying ZF.  So I thought I'd seek a few clarifications to the quick start docs.

Happy to work this out and submit a PR once I understand...

From zend-form/quick-start

_Item 1:_

"significant whitespace" as in whitespace is significant (a la Python), or there's a significant amount?  Either way, "huh"?

_Item 2:_

What does it mea

[2019-12-31 22:53] weierophinney commented on #17
For reference:

https://github.com/zendframework/zend-form/blob/master/src/Form.php#L176

Seems to me that the fact that Form uses a $factory is an implementation detail that isn't helpful for understanding how everything works from a user standpoint.  $this->add could just as easily be new'ing the elements itself, rather than using a factory.

---

Originally posted by @bitwombat at https://githu

[2019-12-31 22:53] weierophinney commented on #17
@bitwombat

I see also no benefit here. I would delete it.

But in this context the `Form` class itself uses a factory. No (service-)manager is required or uses.

But that doesn't mean it works. 😉
The overall statement of the paragraph is correct, but a revision of the wording would be helpful for a better understanding.

This detail is important for understanding how everything works. If you omit

[2019-12-31 22:53] weierophinney commented on #17
Thanks @froschdesign

So can I nix this sentence?:

"The chief benefits to using the Factory are allowing you to store definitions in configuration, and usage of significant whitespace."

a) because you agree about the whitespace thing, and b) because that benefit is already mentioned above here:

"You can create the entire form and input filter at once using the Factory. This is particularly nice

[2019-12-31 22:53] weierophinney opened #18 "Passing options to the element factory from the form factory"
Is it deliberate that there are no options passed from `Zend\Form\Factory#create()` to the `FormElementManager`?

I tried to add the `options` key from the `$spec` array to the [`FormElementManager#get()`](https://github.com/zendframework/zend-form/blob/master/src/Factory.php#L111) call, but that resulted in `FactoryTest#testCanCreateWithConstructionLogicInOptions()` being broken.

---

Originally

[2019-12-31 22:53] weierophinney commented on #18
The problem is, that the `Factory` is not being automatically passed by the `FormElementManager` as it does in `AnnotionBuilder` respectively `FormElementManager::injectFactory`.

Therefore, a fresh `Factory` is being used `Zend\Form\Collection:318`.

---

Originally posted by @boesing at https://github.com/zendframework/zend-form/issues/138#issuecomment-285867972

[2019-12-31 22:53] weierophinney commented on #18
Here's a short example of what I'm trying to do:

[code]
[code]

[code]

The problem is that `Zend\Form\Factory` [doesn't pass the options to the `FormElementManager`](https://github.com/zendframework/zend-form/blob/master/src/Factory.php#L117).

Before Service Manager 3, my factory implemented `MutableCreationOptionsInterface` and I did ` return new MyFieldset($this->getOptions()['foo']);`. That

[2019-12-31 22:53] weierophinney commented on #18
@MidnightDesign I've just run into something similar when creating custom elements and ended up at the same line of code you highlighted. The options _are_ passed, but to [setOptions()](https://github.com/zendframework/zend-form/blob/master/src/Factory.php#L214) not the constructor.

If you override `setOptions()` (and call that from the constructor) it should work. However you probably want to ma

[2019-12-31 22:53] weierophinney commented on #18
I encountered this when upgrading from 2.8.1 to 2.11.0

Unless I am missing something, surely the solution is to pass the 'options' part of the $spec array into the factory call

[code]

---

Originally posted by @levofski at https://github.com/zendframework/zend-form/issues/138#issuecomment-369172523

[2019-12-31 22:53] weierophinney commented on #18
I'm looking to see if there's a particular reason why invocation of the getFormElementManager doesn't pass options if $spec contains options key and Factory waits until after object initializes to configure form. Other parts of the repo extending AbstractPluginManager pass options if available, seems only here this is omitted and prevents parts of my form construct or init to load. Adding `$spec['

[2019-12-31 22:53] weierophinney opened #19 "isValid() must be called after bind() to populate Collection elements in bound object"
The documentation suggests following workflow with a form :

[code]

setData() call updates only MyObject->id, but not MyObject->items, even though $data provides respective values. If workflow is changed as following, then MyObject->items updated as well

[code]

---

Originally posted by @isharfme at https://github.com/zendframework/zend-form/issues/137

[2019-12-31 22:53] weierophinney opened #20 "Accessing fieldset and legend for radio buttons"
An element's `label` can get attributes, e.g. `class`. Theoretically this behavior is also possible for radio buttons. But the `setLabelAttributes(['class' => 'my_class'])` called on a `Zend\Form\Element\Radio` object sets the attribute(-s) for the `input` elements and not for the container-element.

And it's not possible to access the `fieldset` or the `legend` element, that are "hard-coded" in t

[2019-12-31 22:53] weierophinney commented on #20
There appears to be no way to add attributes, such as an `id` to the generated fieldset that gets created for `Element\Radio` button, when ['options']['label'] value is used.  I can add attributes to the individual `<label>` tags, or to the individual `<input>` tags, but not to the enveloping `<fieldset>` tag.
Currently, I used CSS selectors/pseudo-classes to get around this issue.

---

Originall

[2019-12-31 22:53] weierophinney opened #21 "Element removed, InputFilter still validates removed Element"
If one uses **init()** Method to add elements within a Fieldset, they are not completely removable. While the element isn't present in the form anymore, the respective InputFilter (which addresses validation of the previously removed element) still is.
This leads to an invalid form, but no error messages are shown (because the elements which cause the error do not exist and are therefore they are

[2019-12-31 22:53] weierophinney commented on #21
It sounds to me like you're removing the elements _after_ you've set the data (or called `bind()` or `prepare()`). I'm pretty sure the default input filter isn't created until that point. Can you remove them earlier?

---

Originally posted by @kynx at https://github.com/zendframework/zend-form/issues/126#issuecomment-300850140

[2019-12-31 22:53] weierophinney opened #22 ""ComposedObject" Annotation does not add inputSpec to element configuration"
I noticed, that my form was not validating correctly. After some digging in code, I found, that although inputSpec is properly set in ElementAnnotationsListener::handleComposedObjectAnnotation, it gets ignored in AnnotationBuilder::configureElement

So here is what I found was causing it, and how I fixed it (although I am not sure, if that is correct):
AnnotationBulder.php:

[code]

ElementAnnotat

[2019-12-31 22:54] weierophinney opened #23 "Error binding with validation group setted"
Version 2.6.2 broke for me... In this line `https://github.com/zendframework/zend-form/blob/master/src/Form.php#L365` you're looking for `$validationGroup[<field>]`, but I'm using `setValidationGroup(field1, field2, field3)` or even `setValidationGroup(array(field1, field2, field3))`, in this case array will be as above:

[code]

And this will broke the code!

---

Originally posted by @guilherme-

[2019-12-31 22:54] weierophinney opened #24 "MultiCheckbox: default input filter prevents submitting with no options checked"
See zendframework/zendframework#4694, zendframework/zendframework#2395, https://framework.zend.com/issues/browse/ZF2-571.

The issue remains the same now as it was in 2012: MultiCheckbox extends Checkbox. Checkbox's input filter defaults to required, a more or less sensible setup for an element that by default includes a hidden input so something should always be submitted. MultiCheckbox, sensibly

[2019-12-31 22:54] weierophinney commented on #24
Confirmed.  Failing test case:

[code]

---

Originally posted by @adamlundrigan at https://github.com/zendframework/zend-form/issues/123#issuecomment-250928155

[2019-12-31 22:54] weierophinney commented on #24
Adding this to `MultiCheckboxElement` will fix the issue:

[code]

However we're changing the default behaviour of the element (form will now validate successfully when the checkbox name is not present in the form data, whereas previously it would not).  There are likely form implementations that rely on the default behaviour being to require at least one selection so this is a BC break IMO.

My s

[2019-12-31 22:54] weierophinney opened #25 "Zend\Form\Element\Submit and i18n"
The "value" attribute of a \Zend\Form\Element\Submit gets translated twice.

Take for example the code below:

[code]

At this point, if i render the element, the "Sign in" value will get translated, all good. However, after the POST has been sent, in my controller i prepare to perform the validation:

[code]

After calling setData(), the already translated "Sign in" will try to get translated aga

[2019-12-31 22:54] weierophinney opened #26 "Zend Fieldset translation breaks when using formRow helper before"
Hi, in a view, when using $this->formRow on a fieldset element then translation is not working for helper $this->formLabel on another element of the same fieldset.

I'm using zend 2.5.1. My simplified view is like this:

[code]

$busquedas is a fieldset. With this code translation is not working for element _palabrasClaveBusqAvanzada_. But if I change `$this->formRow($busquedas->get('tipoBusqueda'

[2019-12-31 22:54] weierophinney opened #27 "Nested forms each with input filter, sub form input filter not added"
If you nest forms and the main form uses an input filter then the sub form is completely ignored, no matter if the sub form uses an input filter or not. You have to explicitly add the input filter of the sub form to the main form's input filter.

[code]

Output is as expected

[code]

Now if you add input filter to both forms:

[code]

The output is not as expected:

[code]

While this makes sense

[2019-12-31 22:54] weierophinney commented on #27
nvm my previous comment. This was just valid for defaults.
You could call

[code]

that should do the trick.

If your Forms both implemented `InputFilterProviderInterface` you wouldn't need to do this manually, as merging is done during Form's `getInputFilter()` method, when calling `attachInputFilterDefaults()`

---

Originally posted by @demichl68 at https://github.com/zendframework/zend-form/is

[2019-12-31 22:54] weierophinney commented on #27
In my case the forms should be nested (with its own name), so merge wouldn't create a correct input filter for the nested forms AFAIK.

If there is a method adding a form to another it should work as expected. Ignoring or discarding input filters is not "work as expected" IMHO. I don't see the point of creating a sub-form class for the only purpose of implementing InputFilterProviderInterface? Zen

[2019-12-31 22:54] weierophinney opened #28 "Issue with disabled Checkbox validation"
I have a form with some single checkboxes. These checkboxes may be disabled depending on other settings in the application.
So I want to use disabled checkboxes to indicate that there is a option which is currently not available.

The validation for these disabled checkboxes fails because checkboxes are required (hardcoded) but the hidden elements of the checkboxes are disabled too (so nothing is

[2019-12-31 22:54] weierophinney commented on #28
You can use the `Zend\InputFilter\InputFilterProviderInterface`:

[code]

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/110#issuecomment-234157316

[2019-12-31 22:54] weierophinney commented on #28
Thank you. It works to fix my problem. But anyway I think it is counter intuitive default behavior that an disabled checkbox is required and the hidden element is disabled too.

---

Originally posted by @Cyberrebell at https://github.com/zendframework/zend-form/issues/110#issuecomment-234374442

[2019-12-31 22:54] weierophinney commented on #28
@Cyberrebell

- If the entire form is disabled, then all form elements must be disabled.
- If one element is disabled, then all components (hidden elements, all checkboxes of a multicheckbox element, …) must be disabled.

The questions is: If the element is disabled, is the input filter specification needed?!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/is

[2019-12-31 22:54] weierophinney commented on #28
What about if the form gets manipulated in the browsers using browsers dev tools?

User changes checked/disabled state, submits the form, form validation succeeds although the checkbox isn't checked but the checkbox is required to be checked. So if the disabled checkbox isn't checked the form validation should fail.

---

Originally posted by @magicsunday at https://github.com/zendframework/zend-f

[2019-12-31 22:54] weierophinney commented on #28
The value of the disabled checkbox is also not available in the submitted form data.

In Form class:
[code]

In my controller:

var_dump($this->getRequest()->getPost()->toArray()) did not contain "export". although it should be always 1 here.

---

Originally posted by @magicsunday at https://github.com/zendframework/zend-form/issues/110#issuecomment-363702733

[2019-12-31 22:54] weierophinney commented on #28
Ok seems a issue (feature) of HTML, Values from disabled input elements are not submitted.

https://www.w3.org/TR/2016/REC-html51-20161101/sec-forms.html#enabling-and-disabling-form-controls-the-disabled-attribute

https://www.w3.org/TR/html401/interact/forms.html#h-17.12.1

---

Originally posted by @magicsunday at https://github.com/zendframework/zend-form/issues/110#issuecomment-363706273

[2019-12-31 22:54] weierophinney commented on #28
Right!

But you can add a hidden element:

[code]
In your frontend you can disable the checkbox and the hidden element will be submitted.
Can you test this and give us some feedback?

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/110#issuecomment-363714889

[2019-12-31 22:54] weierophinney opened #29 "Moving Collection Count Check to isValid Step."
Would it make sense to remove the thrown DomainException when calling $form->setData() ([here](https://github.com/zendframework/zend-form/blob/570f79c1bac9e4780adf70c9bc6f547cc773d192/src/Element/Collection.php#L200), [here](https://github.com/zendframework/zend-form/blob/570f79c1bac9e4780adf70c9bc6f547cc773d192/src/Element/Collection.php#L215), and [here](https://github.com/zendframework/zend-for

[2019-12-31 22:54] weierophinney commented on #29
Honestly, no idea. :smile:

Can you provide a pull request that demonstrates how you'd like to consume this from a userland perspective? That may help us better understand where it's falling short, and potentially other directions for addressing it.

Thanks!

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-form/issues/97#issuecomment-230610416

[2019-12-31 22:54] weierophinney opened #30 "Feature/number parse option for number form element"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7084
User: @fabiocarneiro
Created On: 2014-12-29T23:31:45Z
Updated At: 2015-03-18T16:40:04Z
Body
Add a NumberParse option to number fo

[2020-01-03 23:21] jrgreene commented on #22
This is messing up my code too. I tried the fix above and it works. I'm planning to handle the fix locally for now, but a fix for this would be very much appreciated.

[2020-01-09 01:16] simon-mundy opened #32 "Cannot add element label attributes via factory"
## Issue
When I try to add a form element to a form using an array configuration, I cannot add the label attributes via the configuration even despite the base element supporting that method.

E.g.
[code]

## Solution
Under the `configureElement` method in Laminas\Form\Factory, add the additional lines:-
[code]

[2020-01-09 12:52] froschdesign commented on #32
@simon-mundy
Try to set the `label_attributes` to the `options` array. Compare with:

https://github.com/laminas/laminas-form/blob/849f43bc78c5dbf7bae00bacadfaf246ed2e7f97/src/Element.php#L130-L132

[2020-01-15 19:56] michalbundyra opened #33 "Collection has empty bonded nested objects"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7156
User: @epoleacov
Created On: 2015-01-25T22:22:49Z
Updated At: 2015-10-19T21:10:08Z
Body
When nested object bonded to form with re

[2020-01-15 19:56] michalbundyra opened #34 "Force input type also on attributes in Form\Factory"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7172
User: @Martin-P
Created On: 2015-01-31T00:36:54Z
Updated At: 2015-11-06T20:07:59Z
Body
I think there should be some refactoring o

[2020-01-15 19:56] michalbundyra opened #35 "`Form/Fieldset` dependency on `FormInterface`"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7192
User: @claytondaley
Created On: 2015-02-06T16:14:35Z
Updated At: 2015-11-06T21:02:59Z
Body
I'm trying to build an extensible HTML

[2020-01-15 19:56] michalbundyra opened #36 "Documentation around `FormElementManager->get()`"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7305
User: @claytondaley
Created On: 2015-03-10T15:31:30Z
Updated At: 2015-11-06T20:55:08Z
Body
I was using Custom Form elements in my

[2020-01-15 19:56] michalbundyra opened #37 "Applying filters to form elements with i18n validators on rendering with form view helpers"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7511
User: @berturion
Created On: 2015-05-11T08:54:59Z
Updated At: 2015-11-06T21:38:46Z
Body
Hello,
I am facing a problem when renderi

[2020-01-15 19:56] michalbundyra opened #38 "Form label translated two times using view helper form row"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7551
User: @phpManiac77
Created On: 2015-05-25T14:27:23Z
Updated At: 2015-11-06T21:54:22Z
Body
In the method Zend\Form\View\Helper\For

[2020-01-15 19:56] michalbundyra opened #39 "Zend\Form\Element\Select default InArray validation broken"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7586
User: @phpManiac77
Created On: 2015-06-15T16:17:13Z
Updated At: 2015-12-09T20:53:03Z
Body
Default in array validation does not wo

[2020-01-15 19:56] michalbundyra opened #40 "Translate MultiCheckbox error message"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7657
User: @dafap
Created On: 2016-01-05T16:17:35Z
Updated At: 2016-02-13T15:37:21Z
Body
Since 2.4.8 release, the error message of a m

[2020-01-15 19:56] michalbundyra opened #41 "Annotations: Use Annotation to build Fieldset don't preserve Validator/filter"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7686
User: @gregGit
Created On: 2016-03-14T13:33:17Z
Updated At: 2016-03-15T00:15:27Z
Body
I'm using Form Annotation in a project with

[2020-01-15 19:57] michalbundyra commented on #41
Hi !!!
I am facing the same issue. I' am trying your fix but in my case input_filter_factory in my entity is always null...

This is my form :
[code]
My form factory, that part is called without problem

[code]

My entity, getInputFilterSpecification is called but input_filter_factory is null

[code]
And finally my controller

[code]

---

Originally posted by @cybercandyman at https://github.com/

[2020-01-15 19:57] michalbundyra commented on #41
So my solution is a way different :

1- I have to inject in my form factory the FormElementManager because FormElementManager is instantiated and not called from ServiceManager, so my custom config was not loading.
2- Create a custom class Fieldset implementing InputFilterProviderInterface and called by FormElementManager

I am almost happy with that, but I am surprised that validation of fieldset

[2020-01-15 19:57] michalbundyra opened #42 "formCollection View Helper doesn't render name"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7687
User: @gregGit
Created On: 2016-03-14T16:20:39Z
Updated At: 2016-04-13T07:48:07Z
Body
When using form view helper, the formCollec

[2020-01-15 19:57] michalbundyra commented on #42
Having a "name" attribute can be really useful -- it was added to the HTML5 standard for a reason. Being unable to use it is a real bummer, and the way the helper is implemented, there is no other choice than reimplementing it from scratch if the attribute is needed.

What about checking the doctype via the "Doctype" helper, or simply adding a flag?

---

Originally posted by @hschletz at https://

[2020-01-15 19:57] michalbundyra commented on #42
This part needs to be changed

https://github.com/zendframework/zend-form/blob/4419eef6dbe9d276e7e27c6a25f022be74534959/src/View/Helper/FormCollection.php#L123-L126

And the property `$validTagAttributes` must be added to `Zend\Form\View\Helper\FormCollection` class.

[code]

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/86#issuecomment-411705201

[2020-01-15 19:57] michalbundyra commented on #42
Unit test for this case can be:

[code]

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/86#issuecomment-411705941

[2020-01-15 19:57] michalbundyra commented on #42
createAttributesString() already removes invalid attributes, via prepareAttributes(). There should be no need to hardcode removal of the "name" attribute.

#194 added methods to declare valid attributes, so we could add the "name" attribute manually if it wasn't forcefully removed.

However, I don't see the point in disallowing the attribute in the first place, other than compliance with doctypes

[2020-01-15 19:57] michalbundyra commented on #42
@hschletz

It is included in the current code, therefore I wrote: "This part needs to be changed".

Not needed here.

This is the current behaviour of the entire component and there is no reason to change that.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/86#issuecomment-424648282

[2020-01-15 19:57] michalbundyra opened #43 "Email element default validator error message is unhelpful"
The RegexValidator created by Email->getEmailValidator should be given a message similar to the EmailAddress validator, rather than the obnoxious dump of the pattern.

Related: zendframework/zend-validator#41

---

Originally posted by @AndrolGenhald at https://github.com/zendframework/zend-form/issues/84

[2020-01-15 19:57] michalbundyra opened #44 "Form implements InputFilterProviderInterface - validators fix"
When Form implements `InputFilterProviderInterface` and validators for an element are defined in method `getInputFilterSpecification`, only these validators should be added to the `InputFilter` of the Form for the element.
The same behavior should be for Fieldsets and it works fine. Basically, validators defined in `getInputFilterSpecification` should override default validators of the Element.

-

[2020-01-15 19:57] michalbundyra commented on #44
Does this fix mean, that I have to copy all filters from method `getInputSpecification` of elements like (Email, Number) or my custom element and paste it to `getInputFilterSpecification` just to set field 'required' => false ???
Does it make sense?

---

Originally posted by @megapixar at https://github.com/zendframework/zend-form/pull/82#issuecomment-235281599

[2020-01-15 19:57] michalbundyra commented on #44
@akrabat Could you have a look on it, please?

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-form/pull/82#issuecomment-281956659

[2020-01-15 19:57] michalbundyra commented on #44
@froschdesign @akrabat rebased

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-form/pull/82#issuecomment-281968051

[2020-01-15 19:57] michalbundyra commented on #44
Is this a BC break?

---

Originally posted by @akrabat at https://github.com/zendframework/zend-form/pull/82#issuecomment-281976146

[2020-01-15 19:57] michalbundyra commented on #44
i.e. if I add an email element and specify an additional validator that the length must be greater than 5, does this PR mean that the EmailAddress validator is no longer added?

---

Originally posted by @akrabat at https://github.com/zendframework/zend-form/pull/82#issuecomment-281976385

[2020-01-15 19:57] michalbundyra commented on #44
@akrabat I've created an example here: https://gist.github.com/webimpress/e08e5a8928cbc3fec249fdc723705652

So, __without__ my fix we have got:
[code]

and **with** my fix we have:
[code]

Basically there is something wrong. I've decided to do this way, so override default validators. In my application always I'm using fieldset and always when I get field from fieldset (from a form) validators spe

[2020-01-15 19:57] michalbundyra commented on #44
This repository has been moved to laminas/laminas-form. If you feel that this patch is still relevant, please re-open against that repository, and reference this issue. To re-open, we suggest the following workflow:
 - Squash all commits in your branch (`git rebase -i origin/{branch}`)
 - Make a note of all changed files (`git diff --name-only origin/{branch}...HEAD
 - Run the laminas/laminas-migr

[2020-01-15 19:57] michalbundyra opened #45 "Collection/Fieldset problem after update 2.2.x to 2.5"
Hi,

Zend Framework updated to the version 2.5, then came to me mainly problems with collections.
At an earlier version 2.2.x all it worked normally but now I have a problem.

Debugging code form, specifically the data from the form, I found two types of data received.

**2.2.x:**

[code]

**2.5**

[code]

In 2.5 I'dont see a field `_translation`, but forms on the front look the same field names a

[2020-01-15 19:57] michalbundyra opened #46 "Missing dependency to zend-servicemanager ?"
Hi,

I'm using zend-form as a standalone library (in a Symfony2 project), and I realize that since [this commit](https://github.com/zendframework/zend-form/commit/12caaebd4a5ea16cd17aca9b754dc20d1331fcd4) (introduced in v2.8.2) there is a [new autoload file](https://github.com/zendframework/zend-form/blob/12caaebd4a5ea16cd17aca9b754dc20d1331fcd4/autoload/formElementManagerPolyfill.php) which creat

[2020-01-15 19:57] michalbundyra commented on #46
I have had the same issue while installing zend-form with zend-expressive (fastroute+pimple+plates).
Even just requiring zend-form (`composer require zendframework/zend-form`) and including the generated `vendor/autoload.php` will cause the issue. The zend-form composer.json require a file:
`autload/formElementManagerPolyfill.php` which defines a class alias for FormElementManager based on the ser

[2020-01-15 19:57] michalbundyra commented on #46
zend-form 2.10 is affected. This is bad, because my app crashes directly after autoloading.

---

Originally posted by @mreiche at https://github.com/zendframework/zend-form/issues/72#issuecomment-315721798

[2020-01-15 19:57] michalbundyra commented on #46
confirm the problem :(

---

Originally posted by @antgubarev at https://github.com/zendframework/zend-form/issues/72#issuecomment-331696259

[2020-01-15 19:57] michalbundyra commented on #46
@pine3ree is right, the polyfill and autoloading is the problem.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/72#issuecomment-332737779

[2020-01-15 19:57] michalbundyra commented on #46
Will this be fixed, as far as I can see this problem still persists?

---

Originally posted by @ikdekker at https://github.com/zendframework/zend-form/issues/72#issuecomment-405174435

[2020-01-15 19:57] michalbundyra commented on #46
@ikdekker send a patch: nothing fixes itself in OSS :-)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-form/issues/72#issuecomment-405176367

[2020-01-15 19:57] michalbundyra opened #47 "Make form element manager a regular service"
This is a bc break but will improve performance.

The form element manager is currently registered as a services listener, which means it can interrogate Module classes for form element service definitions at bootstrap; but this also means that it is instantiated  on EVERY page load even when no forms are rendered in that request.

If we make it a regular service it will not be able to register th

[2020-01-15 19:57] michalbundyra commented on #47
While I understand your motivation, the problem is it's a rather large BC break. Any `Module` class that currently defines `getFormElementConfig()` and returns configuration from it is now ignored, and required to define that configuration in another manner (e.g., `module.config.php`).

I'm willing to consider it _only_ if you can demonstrate measurable performance impact from having the feature e

[2020-01-15 19:57] michalbundyra commented on #47
From what I understand, those using zend expressive cannot utilize the `getFormElementConfig()` method, nor configure the `FormElementManager` from a `module.config.php` unless they make their applications modular (https://github.com/zendframework/zend-expressive/issues/174).

While I understand the performance concern, I would think that the bigger concern here is that the `FormElementManager` ap

[2020-01-15 19:57] michalbundyra opened #48 "Form annotations don't work on PHP 7"
I've narrowed the problem down the the Zend-code dependency. I don't know if there is any way we can fix this for PHP 7; perhaps a documentation update warning of this fact. ~~The fix I assume is going to be to upgrade to Zend-code 3 which has PHP 7 support.~~ Turns out even Zend code 3.0.0 isn't sufficient

---

Originally posted by @carnage at https://github.com/zendframework/zend-form/issues/51

[2020-01-15 19:57] michalbundyra commented on #48
Related:
- https://github.com/zendframework/zend-code/issues/49
- https://bugs.php.net/bug.php?id=71914

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-form/issues/51#issuecomment-207077135

[2020-01-15 19:57] michalbundyra commented on #48
What's your opinion on switching to use doctrines annotation parser anyway as it's better than the Zend one? Plus it would remove the dependency on Zend code from the form module.

---

Originally posted by @carnage at https://github.com/zendframework/zend-form/issues/51#issuecomment-207084698

[2020-01-15 19:57] michalbundyra commented on #48
@carnage We already delegate to Doctrine's annotation parser; all our code does is get the raw annotations and pass them to that. (zend-code provides the reflection functionality for retrieving the annotations, which is not something we want to duplicate here.)

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-form/issues/51#issuecomment-215542597

[2020-01-15 19:57] michalbundyra commented on #48
Doctrine's annotation parser is already capable of getting the raw annotations and does it correctly in PHP 7. We are only using Zend code here to parse the file which isn't required for our use case here as we only need the doc blocks.

---

Originally posted by @carnage at https://github.com/zendframework/zend-form/issues/51#issuecomment-215656884

[2020-01-15 19:57] michalbundyra commented on #48
any news on this?

---

Originally posted by @lowtower at https://github.com/zendframework/zend-form/issues/51#issuecomment-247941978

[2020-01-15 19:57] michalbundyra commented on #48
Seems the problem only exists on PHP 7.0.5 a newer version should work otherwise there is a WIP pull request which fixes the issue: you could use my fork/patch or finish off the fix and make a proper PR with it.

Ideally, a refactor which removes the Zend code dependency would be the best option.

---

Originally posted by @carnage at https://github.com/zendframework/zend-form/issues/51#issuecomme

[2020-01-15 19:57] michalbundyra commented on #48
Thanks for Your quick reply!
Using exactly PHP 7.0.5 on my shared host :-(
Will be using Your fork.
Thanks,
LT.

---

Originally posted by @lowtower at https://github.com/zendframework/zend-form/issues/51#issuecomment-247951718

[2020-01-15 19:57] michalbundyra commented on #48
Might I suggest, for stability purposes, you make your own fork of my patch and use that.

---

Originally posted by @carnage at https://github.com/zendframework/zend-form/issues/51#issuecomment-247952139

[2020-01-15 19:58] michalbundyra commented on #48
Yes, thanks for the suggestion

---

Originally posted by @lowtower at https://github.com/zendframework/zend-form/issues/51#issuecomment-247952315

[2020-01-15 19:58] michalbundyra opened #49 "problem with form validation"
I use a form to validate the input of my json rest api, but an exception occurs when i get a value that is not an array for a fieldset. Here an example:

All fine:
{
  "article": {
    "id": 1
  }
}

All fine:
{
}

Exception in inputfilter
{
  "article": null
}

Validationgroup is array("article" => array("id"))

How to allow article to be anything and get a validation error if its not an array wi

[2020-01-15 19:58] michalbundyra opened #50 "Remove Zend\I18n\View\Helper\AbstractTranslatorHelper dependency"
This is a follow-on from #32.

You cannot use the view helpers without requiring zend-view. This is because `Zend\Form\View\Helper\AbstractHelper` extends `Zend\I18n\View\Helper\AbstractTranslatorHelper`, which in turn extends `Zend\View\Helper\AbstractHelper`.

I would like to break this dependency. After a _quick_ scan it looks like implementing the `setView()` / `getView()` / `setTranslator()`

[2020-01-15 19:58] michalbundyra commented on #50
Unfortunately, it won't. AbstractHelper also implements HelperInterface, which all helpers need to implement. So while you'd remove the need to extend the base helper from zend-view, you'd still have the dependency due to the interface.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-form/issues/41#issuecomment-184049831

[2020-01-15 19:58] michalbundyra commented on #50
Gack :|

OK, so how about moving the core functionality to `Zend\Form\Helper` or similar and have `Zend\Form\View\Helper\*` proxy the core helpers?

That should be possible without a BC break (me, eternal optimist ;) and could provide a path towards moving them over to zend-view in future (discoverability / fewer suggests, as discussed over at https://github.com/zendframework/zend-validator/issues

[2020-01-15 19:58] michalbundyra commented on #50
@kynx
II like the idea that you have exposed in https://github.com/zendframework/zend-form/issues/32.
i.e having a separate package for the view helpers dependent on zend-form and zend-view.
kind regards

---

Originally posted by @pine3ree at https://github.com/zendframework/zend-form/issues/41#issuecomment-224005124

[2020-01-15 19:58] michalbundyra commented on #50
I'm a newbie and this just bit me for a few minutes with a 26-level stack trace.  Figured it out eventually, but should zendframework/zend-i18n be a composer dependency of zendframework/zend-form so that it gets brought in, until this issue is figured out by the big brains?

---

Originally posted by @bitwombat at https://github.com/zendframework/zend-form/issues/41#issuecomment-262690291

[2020-01-15 19:58] michalbundyra commented on #50
@bitwombat

It is already there. See composer.json:

[code]
https://github.com/zendframework/zend-form/blob/master/composer.json#L46

Why suggest section in composer? Not everyone uses the view / output part of `zend-form`.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-form/issues/41#issuecomment-262707580

[2020-01-15 19:58] michalbundyra commented on #50
Ah, got it.  So I should have read the 'suggested' output from composer better.

Thanks for the reply.

---

Originally posted by @bitwombat at https://github.com/zendframework/zend-form/issues/41#issuecomment-262757677

[2020-01-15 19:58] michalbundyra opened #51 "Localized numbers in fields are re-displayed in english after an invalid form submit"
Say we have a field containing a float number in french (with a comma as decimal separator). If the user enter `4,5` (a valid value) and submits the form but the form is invalid for another reason, the form is displayed again to the user with the number in english format (with a dot as decimal separator).
Is it normal ?

---

Originally posted by @berturion at https://github.com/zendframework/zend

[2020-01-15 19:58] michalbundyra commented on #51
@berturion Yes; internally, the values are passed through a normalization filter _first_, prior to validation, and the normalized value is also what is used then to populate errors and form values.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-form/issues/23#issuecomment-157753970

[2020-01-15 19:58] michalbundyra commented on #51
Ok, I understand. Is there a way to filter the values again before populating errors and form values in order to have values in a valid localized format? Because the problem is that the user has to correct already valid filled values he entered... It is quiet annoying, not very user friendly...

---

Originally posted by @berturion at https://github.com/zendframework/zend-form/issues/23#issuecomme

[2020-01-15 19:58] michalbundyra opened #52 "When calling setValue Element\Select, selected incorrect values"
When calling $select->setValue(array('1.1')), selected values French and Japanese,
but Japanese is incorrect value

[code]

---

Originally posted by @googlle at https://github.com/zendframework/zend-form/issues/18

[2020-01-15 19:58] michalbundyra commented on #52
Confirmed.  The following test fails when added to `ZendTest\Form\View\Helper\FormSelectTest`:

[code]

---

Originally posted by @adamlundrigan at https://github.com/zendframework/zend-form/issues/18#issuecomment-149278772

[2020-01-15 19:58] michalbundyra commented on #52
The issue is here: [`FormSelect` view helper uses a non-strict `in_array` check](https://github.com/zendframework/zend-form/blob/master/src/View/Helper/FormSelect.php#L206)

---

Originally posted by @adamlundrigan at https://github.com/zendframework/zend-form/issues/18#issuecomment-149282558

[2020-01-15 19:58] michalbundyra commented on #52
The underlying issue here is with [`Zend\Stdlib\ArrayUtils#inArray`](https://github.com/zendframework/zend-stdlib/blob/9ccac573dff16d76ded168ac9708df3b7382ff43/src/ArrayUtils.php#L188-L203).  The protection added there to protect against wonky non-strict checks (by casting everything to string) bumps up against a different oddity in PHP: truncating trailing zeroes, making "1.1" and "1.10" equivale

[2020-01-15 19:58] michalbundyra opened #53 "Providing Form View Helpers with i18n value rendering"
## Description of the problem:

For example, say we have a text field that is used to store float numbers and our application is in french (yes, it's my native language :). In database, it is stored as float, like `4112.156`. In a french notation, this number should appear as `4 112,156`.

In that case, if you want to do things the right way you expect the user to enter numbers in a french notatio

[2020-01-15 19:58] michalbundyra commented on #53
Wouldn't it be more convenient to let a hydrator strategy format the number according to a given locale?

Say you want to display the data as plain html before populating a form you'd also want it to show up in a localized format. Now you'd have to filter the value in two different places.

---

Originally posted by @demichl68 at https://github.com/zendframework/zend-form/issues/10#issuecomment-16

[2020-01-15 19:58] michalbundyra opened #54 "Calling SetValue on Element/DateSelect with an empty string set's to todays date"
If a DateSelect element has it's value set to an empty string, due to the behaviour of php's date time object; the element is set to today's date. See offending code:

https://github.com/zendframework/zend-form/blob/29a930f8a66cad97b727be8bad65b1f2e1d288f8/src/Element/DateSelect.php#L106

This may be considered desirable; however if the option create_empty_option is set to create a default empty o

[2020-01-15 19:58] michalbundyra commented on #54
I don't think this is a bug, but rather expected behavior (in line with `DateTime`'s behavior).

I'd rather suggest accepting `null` and then nulling all fields if that is the case.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-form/issues/8#issuecomment-121618743

[2020-01-28 20:58] michalbundyra opened #56 "Support for laminas-hydrator v4"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.14.3

#### Summary

There is a problem with compatibility with laminas-hydrator v3 in `Laminas\Form` class:
https://github.com/laminas/laminas-form/blob/master/src/Form.php#L315

We can't extend it and implement `Laminas\Hydrator\HydratorAwareInterface`.

#### Current behavior

When we do that we are getting the following

[2020-02-28 12:38] fabiang commented on #54
Null is already possible and will result in the fields being empty. Unfortunately you get three warnings then:

[code]

Should we at least check for `$value === null` there?

[2020-04-01 06:43] Slamdunk opened #62 "FormRow: allow attributes for <fieldset> wrapper"
|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

Hi, so far the `<fieldset>` wrapper for multi-checkbox, radio and so on can't have attributes since the rendered html is hard-coded:

https://github.com/laminas/laminas-form/blob/c3ad4db5a26a8c99a812463c2eea6244887bf18a/src/View/Helper/FormRow.php#L193-L202

For the multi-checkbox, an hypothetical

[2020-04-01 07:16] froschdesign commented on #62
@Slamdunk
Thanks for this request!

The question which arise here: is the FormRow helper the correct place to handle the fieldset?

The helper FormCollection already contains a "wrapper" functionality. Maybe we can adopt this functionality to all helper with multiple elements and also for the FormRow helper itself. This would allow to create custom wrappers for the different element types and to c

[2020-04-01 08:14] Slamdunk commented on #62
That's indeed a good suggestion :+1:

In fact that's what I was looking for: avoid custom styling and rely solely to external CSS tools. This should be the path for any view helper these days: classes allowed everywhere :ship:

[2020-04-02 10:17] Slamdunk opened #63 "FormRow: allow attributes for "valid" context"
|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | maybe

Hi, FormRow view helper generates two outputs:

1. Element without errors
1. Element with errors

This schema lacks a third option, hidden in the first one; the outputs should be:

1. Element rendered, waiting to be filled
1. Element filled without errors
1. Element filled with errors

This is

[2020-04-13 23:50] waahhhh commented on #28
@weierophinney using `$useHiddenElement` with `true` (which is current the default of `\Laminas\Form\Element\Checkbox`) works fine in my case.

Note: setting the checkbox to disabled within the form like:
[code]
Would disable the hidden element, too - in my case I toggle the checkbox via JavaScript.

[2020-04-14 05:13] froschdesign commented on #28
@waahhhh

Please describe your use case and the expected and current behaviour this helps to find a solution.
Thanks in advance!

[2020-04-17 12:29] froschdesign commented on #63
@Slamdunk
_First, sorry for the very late response._

Right, only class for inputs with errors can be added:

[code]

https://github.com/laminas/laminas-form/blob/bd58a31aab023f722eed1b6b9a073fafafd62c8c/src/View/Helper/FormRow.php#L148-L154

Do you have a suggestion for valid elements?

[2020-04-18 07:09] Slamdunk commented on #63
The question is: how can I know whether an element is "filled" or not?
The answer is tricky, because `null` or empty string could be valid "filled" states.
I think this FR requires a change into the `ElementInterface` that tells when, for example, `setValue` was called or not.

WDYT?

[2020-04-23 06:24] froschdesign commented on #63
You mean a method and property like `hasValue`:

[code]

But maybe we can find a solution without a BC break which means no change at the interface and same behaviour (no change in `Laminas\Form\Element::getValue()`).

[2020-04-23 06:28] Slamdunk commented on #63
No BC break required:
[code]

[2020-04-23 06:51] froschdesign commented on #62
I think the goal for _standard_ forms should be:

[code]

which means we need support for configurations like this:

[code]

or _(pseudo code)_

[code]

---

Compare also with `Laminas\View\Helper\Service\FlashMessengerFactory`:

https://github.com/laminas/laminas-view/blob/b74443fd42490caf2b92959f8867fb232f8ac52f/src/Helper/Service/FlashMessengerFactory.php#L38-L50

[2020-04-23 06:58] froschdesign commented on #63
@Slamdunk
Would you create a pull request for your suggestion?

[2020-07-14 10:51] samsonasik commented on #12
closing as nothing todo with issue report.

[2020-07-14 10:51] #12 closed

[2020-07-14 11:32] samsonasik commented on #2
I created PR #69 for it.

[2020-07-14 13:54] #2 closed

[2020-07-25 04:25] jroedel commented on #54
Yes! Please, check for nulls. This hasn't been plaguing my website for years! Would it help if I open a new issue?

[2020-07-25 13:03] boesing commented on #54
Nope. It would probably help if you open a PR with providing a unit test. 👍🏻

[2020-07-27 16:45] jroedel commented on #54
#70

I added 2 tests clarifying the semantics of a null value. A null would be transformed into `today` (consistent with `DateTime` behavior) unless `create_empty_option` is `true` (in which the user has declared interest in nulls being an acceptable value).

[2020-07-30 12:39] mano87 opened #71 "A flexible possibility for InputErrorClasses (Ready for Bootstrap 4+)"
Hello,
currently it is only possible with great effort to use the forms in combination with Bootstrap 4+. It would be good if you could use the InputErrorClass independently from the helper formRow.

Or is there a better way to implement the attached example? See the following code snippets...

[code]

[code]

[2020-07-30 13:35] froschdesign commented on #71
Related to #62 and #63

[2020-08-03 00:47] samsonasik commented on #50
I am closing it. As stated, there is i18n component in suggest in composer.json

[2020-08-04 06:07] froschdesign commented on #50
@samsonasik
Please have a look at the original description of this issue report because the problem is not the Composer configuration.

[2020-08-04 10:40] samsonasik commented on #50
@froschdesign ok, I re-open it.

[2020-09-14 07:52] driehle commented on #51
@weierophinney @bakura10 What would your take be on localizing values on the way going from model to the form? I have the same issue as @berturion, so my models obviously have normalized values (0.05), doing the localizedToNormalized conversion as part of the form filter is also working quite well. However, how am I supposed to get the normalizedToLocalized conversion working prior to rendering th

[2020-09-16 14:28] kynx commented on #51
@driehle Have you considered using `<input type="number">`? That way numbers get submitted in "C" locale (ie 1234.56) and no normalisation is necessary in either direction. Working with the values in javascript is similarly much simpler and less error-prone - mixing up decimals and thousands can be _very_ expensive 😉

It's up to the browser to localise them. Most do OK with the decimals, but omit

[2020-09-28 11:10] driehle commented on #51
@kynx Thanks for the hint. Indeed this seems to be a proper solution to this case. Initially, I was thinking about other cases as well, e.g. some string pre-processing, but probably you are right and these are rather rare cases compared to numbers.

[2020-10-04 15:28] boesing opened #72 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:44] boesing opened #73 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-27 13:01] mdhia opened #76 "Form element remove enhancement"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

After remove a form element, the input filter still exists. It would be better if $form->remove(...) automatically delete the InputFilter.

[2020-10-27 13:05] froschdesign commented on #76
Duplicate of #21

[2020-10-27 13:05] #76 closed, assigned to nobody

[2020-11-14 13:53] DamianArbuz commented on #8
any updates?

[2020-11-19 19:31] froschdesign commented on #8
@DamianArbuz
The problem here is not laminas-form or some HTML escaping, because it does not work in some browsers or OS. (For example: https://bugzilla.mozilla.org/show_bug.cgi?id=1345793 or https://github.com/FortAwesome/Font-Awesome/issues/996)

[2020-12-23 11:10] boesing commented on #56
I'll change this as v3 is already supported.
V4 is not. As we already support v3, we could provide v4 without breaking the API probably.

[2021-01-13 13:14] driehle commented on #56
@boesing The issue mentioned by @michalbundyra cannot be solved without dropping support for PHP <= 7.0, since you will have to add the return type `void` to `Laminas\Form\Form::setHydrator()`. Since `2.15.x` still supports PHP 5.6 this cannot happen there, but with merging #75 (PHP 8.0) this should likely work for `2.16.x`.

However, adding support for `laminas/laminas-hydrator:^4.0` is independa

[2021-01-20 12:37] Raffers opened #78 "FormText & FormTextarea: Allow attribute InputMode"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Support for [Global Attribute](https://html.spec.whatwg.org/multipage/interaction.html#attr-inputmode) `inputmode` on input, specifically `type=text` & `textarea` elements. So we can set an appropreiate contextual keyboard to display for mobile/tablet users.

[2021-02-08 18:13] ALTAMASH80 commented on #63
Hi, If the above code has not been added yet, I can add it and mention @SlamDunk. Thanks!

[2021-02-08 18:36] Slamdunk commented on #63
Sorry, I've forgotten this one.
Yes please, if you can PR this it would be great 👍

[2021-02-09 08:00] ALTAMASH80 commented on #63
Hi @Slamdunk, my PR has a cross on it. I've no idea why. But added the code is present in the comment section. Thanks!

[2021-02-18 15:36] ALTAMASH80 commented on #53
My dumb question will be, how will someone handle multiple languages? For example, sites which have multi versions. How will they handle this situation which you've proposed? Thanks!

[2021-02-18 16:58] ALTAMASH80 commented on #53
After going through the code of laminas-form version [2.16.x](https://github.com/laminas/laminas-form/blob/2.16.x/src/View/Helper/FormLabel.php#L69). The label option gets translated if a local is set. Thanks!

[2021-02-25 16:13] fabiang commented on #73
Just noticed this through my tests under PHP 8.0:

[code]

Guess we need a check here `$this->view !== null`. Of cause in most real-world apps view should always be set.

[2021-02-26 07:49] charma opened #84 "[RFC: PHP 8 Support] Replace Form Annotations with PHP 8 Attributes"
As of current ongoing PHP8-discussions and Pull Requests regarding support for Form Annotations I suggest:
How about using the natively supported introduced PHP Attributes https://www.php.net/manual/de/language.attributes.overview.php from PHP 8 instead?

[2021-02-26 08:10] froschdesign commented on #84
@charma

That is not true. Nothing is removed. Such statements are not helpful while a solution is being worked on!

Please change the title and the text, otherwise we will have to close this issue report as invalid. Thanks!

[2021-02-26 08:27] charma commented on #84
changed as suggested. hope thats acceptable now

[2021-02-26 08:37] froschdesign commented on #84
A replacement means that PHP 7 support is cut off and we need a migration tool. The last is good, but cutting off support for PHP 7?

This would work, but needs a new major version.

[2021-02-26 09:24] charma commented on #84
yes, this would not be backwards-compatible. But the composer-dependencies for other php8-compatible versions are not backwards-compatible either (e.g. laminas-code) so the php8-supporting version will not be backwards compatible to previous versions anyway.

[2021-02-26 09:44] froschdesign commented on #84
@charma
Are you willing to help here? Can you work out a concrete concept for this?

[2021-02-26 11:27] charma commented on #84
@froschdesign sure, y not. I can give it a try, but it'll take a while until I can get to it.
To what extend do you need the concept? Is a text description enough or do you need a draft/prototype implementation?

[2021-03-09 14:01] samsonasik opened #85 "Using Laminas\Form\Factory::createForm() mark Element\Submit as text"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.15.0

#### Summary

The `Laminas\Form\Element\Submit` displayed as text when using `Laminas\Form\Factory::createForm()`:

#### Current behavior

The following code cause a "Submit" displayed as text:

[code]

It shows :

![Screen Shot 2021-03-09 at 20 59 23](https://user-images.githubusercontent.com/459648/110481617-57f8f

[2021-03-09 14:05] samsonasik commented on #85
Oops, I should not use inside attribute for type definition, closing.

[2021-03-09 14:05] #85 closed, assigned to nobody

[2021-03-18 14:15] #73 closed, assigned to nobody

[2021-03-19 14:04] froschdesign commented on #46
The autoload file was removed with [version 2.16.0](https://github.com/laminas/laminas-form/releases/tag/2.16.0) (#75).

[2021-03-19 14:04] #46 closed

[2021-03-21 19:08] rieschl opened #92 "2.16.0 removes FormElementManager::get()"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 2.16.0

#### Summary

When refactoring the `FormElementManager` class in #75 and removing support for service-manager v2 the V3Polyfill and `FormElementManagerTrait` were copied together to a "real" FormElementManager class.
But it seems that the previous method `\Laminas\Form\FormElementManager\FormElementManagerTrait

[2021-03-22 06:57] Slamdunk commented on #92
Fixed by #93

[2021-03-22 06:57] #92 closed, assigned to nobody

[2021-03-22 13:37] BrunoSpy opened #95 "$form->getElements() is empty"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 2.16.1

#### Summary

[code]
#### Previous behavior

$form->getElements() is an array with all expected elements

#### Current behavior

$form->getElements() is empty

#### How to reproduce

Annotations are visible here : https://gitlab.asap.dsna.fr/bruno.spyckerelle/epeires2/-/blob/test/module/Application/src/Entity/C

[2021-03-22 15:15] Slamdunk commented on #95
I see you used [laminas-code:3.4.1](https://gitlab.asap.dsna.fr/bruno.spyckerelle/epeires2/-/blob/91e548ff27c41ad2467dd506db6fe83138abfcc2/composer.lock#L4923-4924) and forcing platform PHP 7.3 even on PHP 8.0 builds.

You'd need `laminas-code:3.5.0` for PHP 8 build, can you try please? If the build succeeds, I'll release a `2.16.2` version which conflicts with `laminas-code < 3.5.0`

[2021-03-22 15:41] BrunoSpy commented on #95
I confirm that forcing laminas-code to ^2.5.0 fixes the bug but why laminas-form 2.15 uses laminas-code 3.5 and 2.16 uses 3.4 ?

[2021-03-23 06:24] #95 closed, assigned to Slamdunk

[2021-04-07 06:03] dbierer opened #100 "Class 'Laminas\Code\Annotation\AnnotationManager' not found"
### Bug Report

|    Q        |   A
|------------ | ------
| laminas/laminas-form | 2.16.2

#### Summary

Attempting to build a form using Laminas\Form\Annotation\Annotation\Builder

#### Current behavior

[code]

#### How to reproduce

1. `composer create-project -sdev laminas/laminas-mvc-skeleton path/to/install`
2. `cd path/to/install`
3. `composer require laminas/laminas-form`
4. `composer req

[2021-04-07 06:16] Slamdunk commented on #100
You are right, we need to prevent `laminas-code:v4` at all for `laminas-form:v2`

[2021-04-07 06:24] Slamdunk commented on #100
Closed by #101

[code]

[2021-04-07 06:24] #100 closed, assigned to nobody

[2021-04-07 07:21] dbierer commented on #100
Filippo --

   Many many thanks for the quick response.  I can confirm that this works!

   Yours,

   Doug Bierer

    On 04/07/2021 2:16 AM Filippo Tessarotto ***@***.***> wrote:

   You are right, we need to prevent laminas-code:v4 at all for laminas-form:v2
   —You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-23 09:42] dude920228 opened #103 "[RFC]: PHPDoc change in Laminas\Form\Element\Select::setEmptyOption"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 2.19.0  |
| BC Break?           | No |

### Goal

Allow users to set `Laminas\Form\Element\Select`  empty option as array with HTML attributes without static analysers failing.
### Background
One of my projects required the select fields empty option to be selected and disabled. I found a solution: yo

[2021-04-23 10:18] froschdesign commented on #103
@dude920228
This is a bug, because the associated class properties have a completely different type:

https://github.com/laminas/laminas-form/blob/90eeb9f3960be594eda3b867183eb51b541dfc4d/src/Element/Select.php#L44-L49

And your example must be added to the documentation:

https://docs.laminas.dev/laminas-form/element/select/

[2021-04-28 19:38] froschdesign commented on #32
### Example

[code]

Output:

[code]

[2021-04-28 19:38] #32 closed

[2021-05-04 12:24] #10 closed

[2021-05-04 12:28] #78 closed, assigned to nobody

[2021-05-04 12:37] #63 closed

[2021-05-17 15:47] driehle commented on #56
@boesing @michalbundyra This has already been implemented with #75 and released in 2.16.0. I guess this issue should be closed.

[2021-05-17 15:49] driehle commented on #84
I have added a proposal for an implementation in MR #113

[2021-05-17 15:53] #56 closed

[2021-05-24 07:39] #72 closed, assigned to nobody

[2021-05-24 19:40] mimmi20 opened #115 "Deprecate DateTime Element and related Viewhelper"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

The "datetime" input type is removed from the specs and marked as deprecated [see here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime). For this reason the element with its viewhelper should be marked as deprecated.

[2021-05-25 13:27] Slamdunk opened #117 "Reboot PSalm"
PSalm was introduced in https://github.com/laminas/laminas-form/pull/99 without any following fix up.

We need to:

1. Remove the current baseline
1. Set PSalm error level to the lowest level
1. Fix everything fixable with as few baseline as possible
1. Release the result and enforce the reached level for new and ongoing PR
1. Repeat the process from [2] raising the level one step above

[2021-05-25 14:25] Slamdunk commented on #84
Closed by #113

[2021-05-25 14:25] #84 closed, assigned to nobody

[2021-05-25 14:38] driehle commented on #48
@Slamdunk I guess this can be closed as well now

[2021-05-25 14:40] Slamdunk commented on #48
This may be closed by #113, feel free to reopen it if new evidences emerge.

[2021-05-25 14:40] #48 closed

[2021-05-26 07:07] driehle commented on #71
@mano87 Until laminas-form supports this, I can recommend you @neilime's [twbs-helper-module](https://github.com/neilime/twbs-helper-module), which extends the helpers, changes the HTML accordingly and overrides the service manager's config to transparently use the extended helpers. That way, you will have all markup rendered according to Boostrap 4+.

[2021-05-26 08:17] froschdesign commented on #71
At the moment, version 5 is not yet supported: https://github.com/neilime/twbs-helper-module/issues/165
But there is already a first pull request: https://github.com/neilime/twbs-helper-module/pull/167

[2021-05-26 08:19] froschdesign commented on #71
@mano87

You can use a factory for this. [An example can be found in the forum.](https://discourse.laminas.dev/t/can-i-overwrite-a-factory-in-getviewhelperconfig-of-configprovider-php/2296/7?u=froschdesign
)

[2021-05-26 09:09] froschdesign opened #122 "Documentation for PHP 8 attribute support is missing"
Related to #113

## Tasks

* Create new page with description for attributes
* Extract description for annotations from Quick Start to own page

## Page Structure

* Introduction
* Installation requirements (doctrine/annotations)
* Basic usage with code example (form, builder)
* all annotations / attributes with separate code example

[2021-05-26 09:11] Slamdunk commented on #122
@driehle could you have a try on this task?

[2021-05-26 09:36] driehle commented on #122
Yes, but I think that will require restructuring the documentation. Currently, annotation is only mentioned in the quick start tutorial. I would suggest to introduce a new section:

- Introduction
- Installation
- Quick start
- Form creation
  - Creation via factory
  - Factory-based form extension
  - Annotations and attributes
- Application integration
  - Usage in Laminas MVC
- Reference

Quick

[2021-05-26 09:47] froschdesign commented on #122
@driehle

This all is correct, but I did not want to make this issue report any bigger.
There is enough to do:

[2021-05-27 10:04] #122 closed, assigned to nobody

[2021-05-27 11:28] driehle commented on #52
somehow the linked pull request hasn't closed this issue...

[2021-05-27 11:29] Slamdunk commented on #52
Closed by #116

That's because nowhere in the PR nor in the merge commit there's a `Close` word

[2021-05-27 11:29] #52 closed

[2021-05-27 14:00] #42 closed

[2021-05-27 20:47] driehle commented on #115
I'd agree, because once I was wondering why it's not working when I tried using it. :-)

[2021-05-28 11:39] neilime commented on #71
We are working on it, contributions are welcomed!

[2021-05-28 12:07] Slamdunk commented on #54
Closed by #118

[2021-05-28 12:07] #54 closed

[2021-05-28 12:25] Slamdunk commented on #115
Closed by #138

[2021-05-28 12:25] #115 closed, assigned to nobody

[2021-05-28 12:35] froschdesign commented on #103
Fixed with #133

[2021-05-28 12:35] #103 closed, assigned to nobody

[2021-05-28 13:09] Slamdunk commented on #44
@froschdesign I understand the motivation for https://github.com/zendframework/zend-form/pull/82 but I do not agree that's a good solution.
Most common usage I know consists of implementing `getInputFilterSpecification` just to add `'required' => true` and `StringTrim` filter, it would be tedious and error prone to repeat default validators just for a `'required' => true`.

So I'm inclined to clos

[2021-05-28 13:11] Slamdunk commented on #117
For now I won't go further than this :hot_face:

[2021-05-28 13:11] #117 closed, assigned to nobody

[2021-05-28 13:20] froschdesign commented on #44
Go for it. The way is always open to create a new issue report.

[2021-05-28 13:22] #44 closed

[2021-06-12 04:29] froschdesign opened #147 "Missing documentation for Laminas\Form\Element\DateTimeSelect and Laminas\Form\View\Helper\FormDateTimeSelect"
The form element for `DateTimeSelect` and the view helper `FormDateTimeSelect` needs some explanation and a code examples.

https://github.com/laminas/laminas-form/blob/ed6c9722c2b3b3f8825b2ce626c8d0da29a72594/src/Element/DateTimeSelect.php#L18

https://github.com/laminas/laminas-form/blob/ed6c9722c2b3b3f8825b2ce626c8d0da29a72594/src/View/Helper/FormDateTimeSelect.php#L25

[2021-06-17 11:44] tempfirstuser opened #149 "Allow returning of empty array from multicheckboxes (using use_hidden_element)"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.15.1

#### Summary

I have multicheckoxes. I want to have ability to return empty array if non of checkboxes is checked.  I use `use_hidden_element` to return hidden input element instead but it returns empty string instead of empty array.

This is my fieldset config:
[code]

this is my input filter config:
[code]
this is

[2021-06-18 07:03] froschdesign commented on #149
@tempfirstuser
Unfortunately, I cannot reproduce the error message. Can you provide a full example which allows to reproduce the problem? Another option is an unit test. Thanks!

[2021-06-18 07:09] Slamdunk commented on #149
For sake of completeness, this has also been discussed in Slack: https://laminas.slack.com/archives/C4QBQUEG5/p1623930860223800
![image](https://user-images.githubusercontent.com/152236/122521123-bd5f6100-d014-11eb-9063-9926730d9ef4.png)

[2021-06-18 10:34] tempfirstuser commented on #149
@froschdesign , I have this generated html code:

[code]

if I checked some checkboxes I will have POST array of categories, something like this:

[code]

But if I will not check any of checkboxes I will have value from hidded input like this:
[code]
which means instead of array I will get empty string. Was this helpful? Currently, I don't use `'use_hidden_element' => true,` and check if `categori

[2021-06-18 10:43] froschdesign commented on #149
@tempfirstuser

I have the same HTML output and can not reproduce the error message:

So I need the definition of your form with input-filter.

[2021-06-18 11:04] tempfirstuser commented on #149
@froschdesign , actually, I have nested array. I was trying to simplify the question. I have modified my post/issue at the top. fieldset and filter from the top is all what I have. In reality I have something nested like this:

[code]

Do you have the same empty string:
[code]
? Or do you have empty array like this:
[code]
?

[2021-06-18 12:25] froschdesign commented on #149
@tempfirstuser

Okay, this helps! 👍

Please try to override the following:

https://github.com/laminas/laminas-form/blob/ed6c9722c2b3b3f8825b2ce626c8d0da29a72594/src/View/Helper/FormMultiCheckbox.php#L257-L260

With:

[code]

---

**This will not work because the empty / unchecked value is always added to the array!**

[2021-07-22 17:19] boesing opened #151 "PHP 8.1: Incompatibility with `IteratorAggregate::getIterator`"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | latest

#### Summary

The `Fieldset` implementation has an incompatibility with the `IteratorAggregate::getIterator`.

#### Current behavior

Tests are failing.
[code]

#### How to reproduce

Execute tests with PHP 8.1

#### Expected behavior

Tests are passing.

[2021-09-07 12:34] gisostallenberg opened #152 "i18n validators used outside suggested laminas-form view helpers"
### Bug Report
|    Q        |   A
|------------ | ------
| Version(s)  | 3.0.1

#### Summary

The package suggests to require `laminas/laminas-i18n` with the following notice `^2.11, required when using laminas-form view helpers`, but when using a Range Element the `getValidators` method instantiates a new `Laminas\I18n\Validator\IsFloat`.

#### Current behavior

#### How to reproduce
Make sure t

[2021-09-21 14:08] scutze commented on #14
In case someone stumbles upon the same symptom after an upgrade to laminas: FormRow in Laminas uses the string 'form_label' (instead of the former 'formLabel') to identify the helper. So you might have to use that alias in the view_helpers section of your config file.

EDIT: However, you are right, as even with the correct settings, the FormLabel helper is not invoked.

[2021-10-25 19:12] ceadreak commented on #19
Damned !! You saved my night ...

[2021-10-26 13:45] themokx1 opened #153 "If you call setData and prepare more than once then collection element names wont get wrapped."
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | any

#### Summary

If you call setData and prepare more than once then collection element names wont get wrapped.
You want : ['collection'][0]['something']
You get: ['something']

#### Current behavior

prepare runs only once

#### How to reproduce

* You fetch the data from the other source(eg post)
* $form->setData($data)

[2021-11-06 02:31] smj320 opened #154 "disable tag in FieldSet"
### Bug Report

3.0.1

#### Summary
I can't set attribute "disable" to filedset tag.

I posted this issue to forum.
https://discourse.laminas.dev/t/how-can-i-disable-fieldset/2579

#### Current behavior
It in attribute "disable" to filedset from API, but not render.

#### How to reproduce
(1) Create Fieldset.

[code]
(2) Add It in Form.
[code]
(3) Set attribute "disable" and render it.
[code]

(4)

[2021-11-06 02:36] smj320 commented on #154
I post it other category ('issue').

[2021-11-06 02:36] #154 closed, assigned to nobody

[2021-11-06 02:44] smj320 opened #155 "I can't set atrribue "disabe" to fieldset tag."
### Feature Request
3.0.1

#### Summary

I can't set attribute "disable" to filedset tag.

I posted this issue to forum.
https://discourse.laminas.dev/t/how-can-i-disable-fieldset/2579

Please impliment it.

[2021-11-27 12:55] tobias-trozowski commented on #151
test fixed with https://github.com/laminas/laminas-form/pull/128

Bumping
* `laminas/laminas-stdlib` to ^3.6.1
* `laminas/laminas-captcha` to ^2.11.0
* `laminas/laminas-session` to ^2.12.0
* `phpunit/phpunit` to ^9.5.8
will make the tests pass as long as dependencies installed with `--ignore-platform-req=php`.

dependencies not supporting php 8.1 right now
* `laminas/laminas-inputfilter`
* `lamina

[2021-11-27 12:59] Ocramius commented on #151
Yes, see how other components already do that 👍

[2021-11-30 14:09] froschdesign opened #158 "Create a form"

[2021-11-30 14:26] #158 closed, assigned to nobody

[2021-12-02 22:00] froschdesign commented on #39
The element works as expected:

[code]
Output:
[code]

[2021-12-02 22:00] #39 closed

[2021-12-03 06:38] #151 closed, assigned to nobody

[2021-12-07 12:52] strouble opened #160 "Unescaped regex-meta-character in AbstractFormDateSelect"
I think the regex-meta-character "-" (dash) in the date/time pattern should be escaped:
https://github.com/laminas/laminas-form/blob/beee25df568f1140d5553eabe51f97c6643f0464/src/View/Helper/AbstractFormDateSelect.php#L78

It should be:
[code]

Otherwise dates in the format `dd-MM-yy` are not recognized.
For example, the `IntlDateFormatter` returns for the `es_CL` locale that pattern.

[2021-12-07 13:17] froschdesign commented on #160
@strouble
Thanks for reporting! 👍

Correct, this format can not be parsed. Here is a short example:

[code]

This produces:

Because the parsed pattern is:

[code]

https://github.com/laminas/laminas-form/blob/beee25df568f1140d5553eabe51f97c6643f0464/src/View/Helper/AbstractFormDateSelect.php#L74-L98

Would you provide a pull request to fix the problem?

[2022-01-31 07:41] panvid opened #162 "Fix 3.1.1 also for 2.17.0"
### Feature Request

The urgend security issue which is released on https://github.com/laminas/laminas-form/releases/tag/3.1.1 should also be available older Minor and Major releases, like 3.0.* and 2.17.*

Right now only the 3.1.1 can be used without any security issue: https://github.com/Roave/SecurityAdvisories/blob/latest/composer.json#L161

[2022-01-31 10:30] Ocramius commented on #162
That is intentional:

 * `laminas/laminas-form:2.17.0` supports `php:^7.3`, which is EOL and no longer covered by security fixes ( https://www.php.net/supported-versions.php )
 * `laminas/laminas-form:3.0.0` (released ~6mo ago) is `php:^7.4` (still covered by security fixes), and therefore receives security fixes
 * see our discussed policy about this at https://github.com/laminas/technical-steeri

[2022-01-31 10:50] Slamdunk commented on #162
Given `v2` is still installed [10 times more](https://packagist.org/packages/laminas/laminas-form/stats) than `v3` and that back-porting seems straightforward, I'll provide a release for both `2.17` and `3.0`, but I need to accommodate my job duties first.
Any PR would be very welcome.

[2022-01-31 10:52] Ocramius commented on #162
https://github.com/advisories/GHSA-jq4p-mq33-w375 will also require updating :|

[2022-01-31 10:54] Slamdunk commented on #162
I guess I don't have the rights to do that, 'cause I see no edit button there nor in https://github.com/laminas/laminas-form/security/advisories/GHSA-jq4p-mq33-w375

Is updating a GH security advisor cumbersome?

[2022-01-31 11:09] Ocramius commented on #162
Yes, we'd need to contact github support for doing that.

[2022-01-31 11:10] Slamdunk commented on #162
@weierophinney what would you prefer me to do then?

[2022-01-31 17:40] weierophinney commented on #162
I'm actually able to edit the security release (I have an "Edit" button, at least, when I view the page). If you want to backport the patches, @Slamdunk, I can update it after you've done so.

[2022-01-31 18:02] Ocramius commented on #162
@weierophinney beware that the published advisory (under https://github.com/advisories ) is not the one under the repo :D

[2022-01-31 19:28] weierophinney commented on #162
@Ocramius Oooooh. That's interesting.

We'll see what happens when I edit it, then. :)

[2022-01-31 21:07] panvid commented on #162
Thanks for the reply :) So it sounds that there will be a fix for *2.17.x* too? :D
yeeah, nice

[2022-02-01 07:47] Slamdunk commented on #162
@weierophinney `v2.17.1` and `v3.0.2` released with the bugfix, let's see how GHSA behave after your edit.

Also let's see if https://github.com/Roave/SecurityAdvisories/blob/latest/composer.json#L161 updates as well

[2022-02-01 13:53] weierophinney commented on #162
I've edited our own version of the security advisory; let's see if GitHub picks up the updates.

[2022-02-01 13:53] #162 closed, assigned to nobody

[2022-02-01 15:21] Slamdunk commented on #162
GHSA updated: https://github.com/advisories/GHSA-jq4p-mq33-w375

`Roave/SecurityAdvisories` updated as well: https://github.com/Roave/SecurityAdvisories/commit/fa60732bcafd446e9ff858eefa06cdcbae8d9823

:partying_face:

[2022-02-01 15:23] Ocramius commented on #162
Awesome, and already reflected downstream: https://github.com/Roave/SecurityAdvisories/commit/fa60732bcafd446e9ff858eefa06cdcbae8d9823

[2022-02-01 16:46] steffendietz commented on #162
Thanks for backporting this change.

@weierophinney could you maybe check https://github.com/advisories/GHSA-jq4p-mq33-w375? The patched version `2.17.2` should probably be `2.17.1` (also the affected version should probably be `< 2.17.1`), since this is currently picked up wrong by the https://github.com/Roave/SecurityAdvisories/commit/fa60732bcafd446e9ff858eefa06cdcbae8d9823.

Thanks a lot!

[2022-02-01 16:59] weierophinney commented on #162
@steffendietz I did it incorrectly on my first submission, but corrected it within a minute or so; it's up-to-date on our own advisory page. Since they picked up the initial change, my guess is they'll pick up the second one shortly.

[2022-02-01 18:58] steffendietz commented on #162
Ok, I understand. Let's wait and see, then. Thanks for the update. 👍

[2022-02-02 08:01] panvid commented on #162
Thanks for the great work, guys!

[2022-02-03 07:55] steffendietz commented on #162
The changes don't seem to get picked up. Maybe the advisory needs yo be edited again for GH to be triggered?

[2022-02-03 08:05] Ocramius commented on #162
Similar/related:

 * https://github.com/Roave/SecurityAdvisories/issues/90
 * https://twitter.com/Ocramius/status/1489146984363708418

[2022-02-03 13:51] weierophinney commented on #162
I've pushed another update (I noticed we had references to `formRenderErrors()`, which should be `formElementErrors()`); let's see if they pick this one up.

[2022-02-07 13:18] Slamdunk commented on #162
Still no update on https://github.com/advisories/GHSA-jq4p-mq33-w375

At this point we could easily release a `2.17.2` version just to match that GHSA, wdyt?

The older I get, the shorter the path I want to walk towards mental happiness

[2022-02-07 13:24] Ocramius commented on #162
Meanwhile, manual workaround on `roave/security-advisories:dev-latest`.

See https://github.com/Roave/SecurityAdvisoriesBuilder/pull/528
See https://github.com/Roave/SecurityAdvisoriesBuilder/pull/530
See https://github.com/Roave/SecurityAdvisories/commit/2ec9ad634c459ee60c42d99390be37c8a3c6e8e5

[2022-02-07 13:25] Ocramius commented on #162
IMO OK - would just need to note the missing update on GitHub's side as the reason for an empty release (you can put it in the milestone description, then close the milestone for the release to happen - **should** work even with no PRs)

[2022-02-07 13:28] Slamdunk commented on #162
Testing in production? Love it :sunglasses:

I'll wait for another :seal: of approval on the idea, then I'll do it

[2022-02-07 13:31] Ocramius commented on #162
Worst that can happen is that `laminas/automatic-releases` just fails to produce a tag, due to its strict invariants :)

[2022-03-10 12:21] villermen opened #169 "CSRF element overwrites name option with element name"
### Bug Report

You can specify a custom name for the CSRF validator to use via `csrf_options`:

[code]

This name however will be overwritten with the element's name by this piece of code: https://github.com/laminas/laminas-form/blob/d854a5610889ff42d36076a46bb2422f37caa29b/src/Element/Csrf.php#L75-L77

So above element would store the token under the name "security" instead of the expected "logi

[2022-03-10 12:32] froschdesign commented on #169
@villermen
Would you write a unit test that illustrates the problem and send it as a pull request? Then you could also add your solution.

[2022-03-10 12:54] villermen commented on #169
@froschdesign I have done both in #170. If there's anything else you need in terms of documentation or justification I'd be happy to provide!

[2022-03-21 21:53] boesing opened #171 "Removal of `container-interop/container-interop`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | yes

#### Summary

This issue is created to keep track of the status of getting rid `container-interop` in the `laminas` components.

[2022-06-06 12:00] B-Kluss opened #172 "After update from 2.17 to 3.1.1: Nested fieldset results in TypeError: template is undefined"
When having a form which calls a collection, which also calls a collection a type error is thrown (Hierachy of 3). Removing the last node collection, everything works fine.

This module was already implemented with Version 2.17 and worked accurately

Example:
[code]

[2022-06-06 12:14] Slamdunk commented on #172
Hi, would you please open a PR with a test showing this bug?

[2022-06-14 07:42] B-Kluss commented on #172
The error is connected to a plugin we use, so I will close the issue.

[2022-06-14 07:42] #172 closed, assigned to B-Kluss

[2022-06-14 07:44] froschdesign commented on #172
@B-Kluss
Thanks for the feedback! 👍

[2022-06-16 10:12] #169 closed, assigned to nobody

[2022-06-16 10:15] froschdesign commented on #169
This change is released as a new functionality with version [3.2.0](https://github.com/laminas/laminas-form/releases/tag/3.2.0).

[2022-06-16 10:21] froschdesign opened #174 "Problems in tests with collections and setValidationGroup()"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.2.0

#### Summary

Two problems with the release of 3.2.0 that were hidden in the pull requests:

[code]

https://github.com/laminas/laminas-form/runs/6916463844?check_suite_focus=true#step:3:447

[code]

https://github.com/laminas/laminas-form/runs/6916463844?check_suite_focus=true#step:3:460

[2022-06-16 10:24] Slamdunk commented on #174
:open_mouth:

[2022-06-16 10:29] froschdesign commented on #174
Interesting, because the problem appears in my fork, but not here: https://github.com/froschdesign/laminas-form/actions/runs/2500515004

[2022-07-12 03:05] wiryonolau opened #176 "FormAttributeBuilder exception break on php 7.4"
### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | ^3

#### Summary

Annotation\AttributeBuilder::class thrown Exception on php7 when loading from factory
while composer.json  still allow to use it in php7

[2022-07-12 07:59] Ocramius commented on #176
@wiryonolau could you provide more details? What is happening exactly?

[2022-07-12 09:26] wiryonolau commented on #176
Hi we use this individually. Most of our project are still in 7.4. We using PHP-DI to load all dependency
before we only load view_helpers, so everything is normal.

We just start implement loading abstract factory similar to servicemanager
On loading the dependency it break on AttributeBuilder::__construct() since it always requested PHP8

[2022-07-12 09:27] Ocramius commented on #176
Yes, but what is the exception (with trace), and what is the code (on your end) causing it?

[2022-07-12 09:29] wiryonolau commented on #176
On unittest only this error
PHP 8.0 or newer is required when using PHP attributes. You are running PHP 7.4.29.
Undefined index: FormAttributeBuilder

ERROR :
No entry or class found for 'FormAttributeBuilder' ( this is from PHP-DI )

[2022-07-12 09:34] Ocramius commented on #176
Seems like you may want to report this on PHP-DI then, since the attributes are not used in this component, unless you explicitly use an attribute builder.

Closing here, since it's not a bug of `laminas/laminas-form`

[2022-07-12 09:34] #176 closed, assigned to wiryonolau

[2022-07-12 09:34] wiryonolau commented on #176
Does __construct() not called by servicemanager ?

[2022-07-12 09:36] wiryonolau commented on #176
[code]

FormAttributeBuilder never get called in here ?

[2022-07-12 10:51] Ocramius commented on #176
It gets fetched (via factory) if you want to use it directly - you'd still need to get it from a configured servicemanager.

[2022-07-12 11:40] wiryonolau commented on #176
Ok my problem is in my unittest, cause I checking all registered service for any error or circular dependency. Guess the FormAttributeBuilder get called by it.

Wish they create a specific Exception for detecting PHP Version 8, instead of just throwing a generic Exception

[2022-07-18 16:12] GR4NDS0N162 opened #178 "Github pages isn't working("
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | x.y.z

#### Summary

#### Current behavior

#### How to reproduce

#### Expected behavior

[2022-07-18 16:20] Ocramius commented on #178
~~@Slamdunk do you know if `gh-pages` got deleted by accident here?~~

EDIT: nvm, found that @internalsystemerror fat-fingered this (event 22918984497)

[2022-07-18 16:20] Ocramius commented on #178
Re-triggered https://github.com/laminas/laminas-form/actions/runs/2568694836 meanwhile

[2022-07-18 16:25] Ocramius commented on #178
@froschdesign that CI job I just linked can't run because `gh-pages` is missing: do you know if creating an empty `gh-pages` branch would suffice? I don't have a working copy of `laminas-form`, so I can't restore it from my end.

[2022-07-18 16:31] weierophinney commented on #178
Let me know if you want help.

Generally speaking, you should be able to create an empty branch, and then re-trigger the docs-build action. If that doesn't work, we can build using the container; the only issue I've had with that is that the code example styles get all fubar.

[2022-07-18 16:32] Ocramius commented on #178
Pushed an old version of `gh-pages` for now, provided by @internalsystemerror: d84f5c4210c717b08c2c63f2a86eb26d60a5a501

Will re-trigger build now.

[2022-07-18 16:34] Ocramius commented on #178
Restored: https://docs.laminas.dev/laminas-form/

[2022-07-18 16:34] #178 closed, assigned to Ocramius

[2022-07-18 16:36] internalsystemerror commented on #178
Sorry all ... My bad ...

[2022-07-25 17:23] renovate[bot] opened #181 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-form).

## Open

The following updates have all been created. To force a retry/rebase of any, click on a checkbox below.

 - [ ] [Up

[2022-08-01 09:53] Ocramius commented on #160
Handled in #184 by @mimmi20, and released in `3.4.1`, thanks everyone!

[2022-08-01 09:53] #160 closed, assigned to Ocramius

[2022-11-21 13:10] #171 closed, assigned to internalsystemerror